.sidebar h4{
    font-family: var(--hFont);
    text-align: center !important;
    margin-bottom: 1rem !important;
    /* font-size: */
}
.sidebar{
    padding: 2rem 0rem !important;
    width: fit-content !important;
}
.sidebar .nav-link{
    font-family: var(--bFont) !important;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
    font-size: 14px !important;
}
@media only screen and (max-width: 786px) {
    .sidebar{
        display: none !important;
    }
}