.item-title{
    font-family: var(--bFont);
    color: rgba(0,0,0,0.7);
    margin: 2rem !important;
}
.item-image{
    width: 75% !important;
    height: 100% !important;
}
.item-name{
    font-family: var(--hFont);
}
.item-price{
    font-family: var(--bFont);
    
}
.item-brand{
    font-family: var(--bFont);
    font-weight: bold;
    color: rgba(0,0,0,0.8);
}
.item-desc{
    font-family: var(--bFont);
    color: rgba(0,0,0,1);
    font-size: 1.1rem;
}
.item-share{
    background-color: #913642;
    border: 1px solid white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
    font-size: 1.5rem !important;
    padding: 0.3rem 0.8rem !important;
    color: white;
}
.item-share:hover{
    background-color: var(--btnColor);
    border: none;
    box-shadow: none;
    color: white;
}
.item-wrap{
    padding: 3rem !important;
}
.item-wrap *{
    margin-bottom: 0.5rem !important;
}
@media only screen and (max-width: 769px) {
    .item-title{
        font-family: var(--bFont);
        color: rgba(0,0,0,0.7);
        margin-top: -1rem !important;
        margin-left: 0rem !important;
    }
    .item-wrapper div{
        padding: 0rem !important;
    }
    .item-name{
       margin-top: 2rem !important;
    }
    .item-image{
        width: 100% !important;
    }
    .item-share{
        margin-top: 2rem !important;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}