.slider-img{
    height: 30rem !important;
    object-fit: fill !important
}
.slider{
    height: 30rem !important;
    overflow: hidden !important;
    width: 100% !important;
    margin-left: 0.75rem !important;
}
.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top: 55%;
}
.slider-h{
    font-family: var(--hFont);
    font-size: 3.5rem !important;
    text-align: left;
}
.slider-p{
    font-family: var(--bFont);
    font-size: 1.5rem !important;
    text-align: left;
}.slider-btn{
    transform: translateX(-350%);
}
@media only screen and (max-width: 786px) {
    .carousel-caption{
        transform: translateY(-50%);
        bottom: initial;
        top: 55%;
    }
    .slider-h{
        font-family: var(--hFont);
        font-size: 2rem !important;
        text-align: left;
    }
    .slider-p{
        font-family: var(--bFont);
        font-size: 1rem !important;
        text-align: left;
    }.slider-btn{
        transform: translateX(-70%);
    }
    .slider-img{
        object-fit: fill !important;
        width: auto !important;
        margin-left: -30rem !important;
    }
    .slider{
        height: 30rem !important;
        overflow: hidden !important;
        width: 100% !important;
        margin-left: 0rem !important;
        margin-top: -5rem !important;
    }
}