.service-box{
    font-family: var(--hFont);
    text-align: center;
    padding: 3rem 1rem;
    width: 87%;
    margin-left: 2rem !important;
}
.service-box img{
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}
.services-wrapper{
    margin-top: 0rem !important;
    padding: 5rem;
    padding-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.service-row{
    background-color: rgba(0,0,0,0.2);
    padding: 3rem 1rem !important;
    padding-right: 5rem !important;
}
.sicon{
    color: darkorange;
    font-size: 3rem !important;
}
.sbox h3{
    margin-left: -2rem !important;
    font-family: var(--hFont);
}
.sbox{
    border-right: 3px solid darkorange;
    width: 17rem !important;
    padding-right: 3rem !important;
    padding-left: 0rem !important;
    height: 10rem !important;
}
.sbox p{
    font-family: var(--bFont);
    font-weight: bold;
    font-size: 1rem !important;
    text-align: left;
    margin-left: 2rem !important;
    margin-top: 1rem !important;
}
#lastsbox{
    border: none !important;
}
@media only screen and (max-width: 769px) {
    .service-box{
        font-family: var(--hFont);
        text-align: center;
        padding: 3rem 1rem;
        width: 100%;
        margin-left: 1.5rem !important;
        height: fit-content !important;
    }
    .sbox{
        border-right: none;
        border-bottom: 3px solid darkorange;
        width: 100%!important;
        padding: 0rem !important;
        height: 10rem !important;
        margin-bottom: 5rem !important;
    }
    .service-row{
        background-color: rgba(0,0,0,0.2);
        padding: 3rem 1rem !important;
        padding-right: 2rem !important;
    }
    .sbox h3{
        margin-left: -6rem !important;
        margin-top: 1rem !important;
        font-family: var(--hFont);
    }
    #lastsbox{
        height: 30% !important;
    }
}
@media (max-width: 800px) {

    .service-row {
        flex:50%;
    }

    .service-box {
        margin-bottom: 3rem !important;
        padding: 3rem 0rem;
        margin-left: 2rem ;
    }
}

@media (max-width: 992px) {
    .service-box {
        margin-bottom: 3rem !important;
        padding: 3rem 0rem;
        margin-left: 0rem;
    }

    .service-box p {
        font-size: 14px;
    }
}