.footer-area{
  background-color: #2a2b39;
  color: white;
  font-family: var(--bFont);
  padding: 2rem 5rem !important;
}
#footer-logo{
  width: 7rem !important;
}
.footer-area h5,h4{
  font-family: var(--hFont) !important;
}
.address_wrap{
  padding: 0rem !important;
}
.address_inner:first-child{
  border-right: 3px solid white;
}
.footer-contact{
  margin-top: 3.7rem !important;
  margin-left: 1rem !important;
}
.footer-mail{
  margin-top: 0.5rem !important;
}
.footer-links{
  margin-top: 3.7rem !important;
  margin-left: 5rem !important;
}
.footer-row>div{
  margin-right: 0rem !important;
}
.copyright{
  margin-top: 2rem  !important;
  text-align: center;
  border-top: 2px solid white;
  padding-top: 1rem !important;
}
@media only screen and (max-width: 769px) {
  .footer-area{
    background-color: #2a2b39;
    color: white;
    font-family: var(--bFont);
    padding: 2rem 1rem !important;
  }
  .address_inner:first-child{
    border-right:none;
  }
  }