.navbar{
    margin-bottom: 0rem !important;
    padding: 0.3rem 2rem !important;
    background-color: white !important;
    border-bottom: 1.5px solid rgba(0,0,0,0.1);
}
.navbar .nav-link{
    font-family: var(--hFont) !important;
    color: rgba(0,0,0,0.9) !important;
}
#logo{
    font-family: var(--hFont);
    font-size: 2.2rem;
    margin-top: -3.5rem !important;
    margin-left: 3rem !important;
    margin-right: 15rem !important;
}
#logoimg{
    width: 35% !important;
    margin-right: 5rem !important;
}
#catlogBtn{
    font-family: var(--hFont);
    padding: 0.5rem 3rem !important;
    background-color: #913642 !important;
    border: none !important;
}
#shopBtn{
    font-family: var(--hFont);
    padding: 0.5rem 3rem !important;
    background-color: darkorange !important;
    border: none !important;
    margin-right: 1rem !important;
    width: 12rem !important;
}
#loginlink{
    color: rgba(0,0,0,0.9) !important;
}
@media only screen and (max-width: 786px) {
    .navbar{
        margin-bottom: 2.5rem !important;
        padding: 0.1rem 0.8rem !important;
        background-color: white !important;
        border-bottom: 1.5px solid rgba(0,0,0,0.1);
    }
    #logo{
        font-family: var(--hFont);
        font-size: 2.2rem;
        margin-top: -3.5rem !important;
        margin-left: 3rem !important;
        margin-right: 0rem !important;
    }
    #logoimg{
        width: 100% !important;
        margin-right: -15rem !important;
    }
    #catlogBtn{
        font-family: var(--hFont);
        padding: 0.5rem 3rem !important;
        background-color: #913642 !important;
        border: none !important;
        width: 100% !important;
        margin-top: 0.5rem !important;
    }
    #shopBtn{
        font-family: var(--hFont);
        padding: 0.5rem 3rem !important;
        background-color: darkorange !important;
        border: none !important;
        margin-right: 1rem !important;
        width: 100% !important;
    }
}