.product-btn-row{
    margin-top: 5rem !important;
}
.product-btn-row button{
    margin-left: 32rem !important;
    margin-top: 2rem !important;
    width: 15rem !important;
}
#del{
    margin-left: 15rem !important;
}

@media only screen and (max-width: 600px) {
    .product-btn-row button{
        margin-left: 0rem !important;
        margin-top: 2rem !important;
        width: 15rem !important;
    }
    .product-btn-row{
        margin-top: 2rem !important;
    }
    #del{
        margin-left: 0rem !important;
    }
    
  }