.cat-modal{
    margin-left: 15rem !important;
}
#catAlert{
    margin-top: 5rem !important;
}
.cat-h{
    margin-bottom: 2rem !important;
}
.catBtn{
    width: 15rem !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 2rem !important;
}
@media only screen and (max-width: 600px) {
    .cat-modal{
        margin-left: 0rem !important;
    }
    .catBtn{
        width: 5rem !important;
        margin: 1rem 0rem !important;
        display: block !important;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
        margin-bottom: 2rem !important;
    }
  }