.login-form{
    display: block;
    width: 30%;
    margin-left: 27rem !important;
    margin-top: 3rem !important;
}
#home-link-admin{
    margin-left: 85vw !important;
}
#login-alert{
    width: 25% !important;
    text-align: center;
    margin-left: 30rem !important;
    margin-top: 5rem !important;
}